[package]
name = "unbg-telemetry"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
unbg-core = { path = "../unbg-core" }
